[Unit]
Description=Sensors data pusher
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/lib/sensors_pusher/main.py

[Install]
WantedBy=multi-user.target
